.resume {
    display: grid;
    grid-template-columns: 2fr  5fr;
    grid-template-rows: 0.75fr 2fr  3fr  1fr;
    grid-template-areas  :
        "photo myname"
        "contact education"
        "about work"
        "hobbies community";
}

.wrapper{
  max-width: 900px;
  margin: auto;
    font-family: Garamond, Times ,Georgia;
    font-size: 18px;
    background: linear-gradient(#C7C6C6,#fcfbe8)
}
.contact {
    grid-area: contact;
}

/* background-color: linear-gradient(red, yellow) */

.photo {
    grid-area: photo;
    display: flex;

   
}

.photo img {
    max-width: 60%;
    max-height: auto;
    border-radius: 50%;
    margin: 45px auto;
    
}


.about {
    grid-area: about;
}

.work {
    grid-area: work;
    background-color: white;
}

.education {
    grid-area       : education;
    background-color: white;
}

.hobbies {
    grid-area       : hobbies;
}

.hobbies img {
    width: 22%;
    height: auto;
    position: relative;
    top: 40%;
    left: 15%;
}

.myname {
    grid-area       : myname;
    text-align: left;
    background-color: white;
}

.community {
    grid-area: community;
    background-color: white;
}

hr {
    border-color:#6393bf;
    width: 90%;
}

h2 {
    color: antiquewhite;
    background: #6393bf;
    text-align: center;
    padding: 5px 5px;
    margin-top: 0;
    
}

p {
    padding: 0px 20px;
}

h1 {
    font-family: monospace, serif;
    font-size: 2.5em;
    
    margin-bottom: 0px;
    padding-left: 1em;
    
}

h3 {
    font-family: monospace, serif;
    font-size: 2em;
    
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 1em;
}

p2 {
        margin-left: 5em;
        padding: 21px 20px;
        font-size: 1.2em;
}

.subtitle {
    font-size: 1.2em;
    
}

.exp-subgrid {
    display: grid;
    margin: 10px 20px 0px 30px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas  :
        "exp-left exp-right";
}

.exp-left {
    grid-area: exp-left;
}

.exp-right {
    grid-area: exp-right;
}

.ref-subgrid {
    display: grid;
    margin: 10px 20px 0px 30px;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr;
        grid-template-areas  :
        "ref-left ref-right";
}

.ref-left {
    grid-area: ref-left;
    text-align: center;
}

.ref-right {
    grid-area: ref-right;
    text-align: center;
}

.edu-subgrid {
    display: grid;
    margin: 10px 20px 0px 30px;
    grid-template-columns: 1fr  2fr;
    grid-template-rows: 1fr 1fr;
        grid-template-areas  :
        "edu-left edu-right";
}

.edu-left {
    grid-area: edu-left;
}

.edu-right {
    grid-area: edu-right;
}


